:root{
    --a:0;
}


.border{
    border: 2px solid red;
    margin: 4px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px ;
}
.m-1{
    margin: 5px;
}
.bg-black{
    background-color: black;
    color: white;
}
.p-1{
    padding: 10px;
}
.card{
    transition: all 0.3s;
}
.card:hover{
    background-color: #0f0f0f;
    cursor: pointer;
    --a:1
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #6de26d; /* Green background color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 145px;
    margin-left: 150px;
    opacity: var(--a);
    transition: all 1s  ease-out;
}

.change {
    width: 80%;
    height: 60%;
    fill: #000; /* Black SVG color */
    
}
/* Style for WebKit-based browsers (Chrome, Safari, newer Edge) */
/* Change these styles to match your design */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
    background-color: #333; /* background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #434242; /* color of the scrollbar thumb */
    border-radius: 10px; /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444343; /* color of the scrollbar thumb on hover */
}

/* Optional: Style for scrollbar track when the scrollbar is not active */
::-webkit-scrollbar-track {
    background: #222; /* color of the scrollbar track */
}

/* Optional: Style for scrollbar corner */
::-webkit-scrollbar-corner {
    background: #333; /* color of the scrollbar corner */
}






input{
    width: 50px;
    height: 7px;
   background-color: #6de26d;
}